<footer class="bg-light py-2 mt-2">
  <div class="container text-dark text-center">
    <!-- Sotial media starts -->
    <ul class="list-unstyled text-white mt-4">
      <li>
        <a class="text-white" target="_blank" href="#"
          ><i class="bi bi-facebook"></i
        ></a>
        <a class="text-white" target="_blank" href="#"
          ><i class="bi bi-twitter"></i
        ></a>
        <a class="text-white" target="_blank" href="#"
          ><i class="bi bi-google"></i
        ></a>
        <a
          class="text-white"
          target="_blank"
          href="https://www.instagram.com/d.w.mal/"
          ><i class="bi bi-instagram"></i
        ></a>
        <a
          class="text-white"
          target="_blank"
          href="https://www.linkedin.com/in/dmitrii-malyshkin-441b2a276/"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a
          class="text-white"
          target="_blank"
          href="https://github.com/DmitriiMal"
          ><i class="bi bi-github"></i
        ></a>
      </li>
    </ul>
    <!-- Sotial media ends -->

    <form
      class="d-flex justify-content-center align-items-md-center flex-lg-row flex-md-row flex-sm-column flex-column mb-5"
    >
      <label class="form-label me-3 my-2" for="email"
        >Sign up for our newsletter</label
      >
      <input class="rounded-2 py-1 me-3 my-2" type="email" id="email" />
      <input
        class="btn btn-dark py-1 px-2 border-white me-3 my-2"
        type="submit"
        name=""
        id=""
      />
    </form>
    <small class="text-white-50"
      >&copy; 2023 Copyright: Dmitrii Malyshkin</small
    >
  </div>
</footer>
